NODE_ENV=development
PORT=3000
DATABASE_URL=postgres:///docuchat.db

JWT_ACCESS_SECRET=jwt_secret_that_is_over_32_charcters_long
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

OPENAI_API_URL=
REDIS_API_URL=

# Dotenv Config to stop dotenv from displaying ads
DOTENV_CONFIG_QUIET=true 

